<div class="forest-boundary">
  <div class="typed">
    <h1>UNCANNY FOREST</h1>
    <div class="compass">
      <%= link_to "|<", @link_first %>
      <% if @exists_prev %>
        <%= link_to "<", @link_prev %>
      <% end %>
      &nbsp;
      <% if @exists_next %>
        <%= link_to ">", @link_next %>
      <% end %>
    </div>
  </div>
  <div class="comics">
    <% @panels.each do |panel| %>
      <%= image_tag panel, class: "panel" %>
    <%end %>
  </div>
</div>
