<div class="forest-boundary">
  <div class="typed">
    <h1>UNCANNY FOREST</h1>
    <div class="compass">
      <div class="item">
        <%= link_to "|<", @link_first %>
      </div>
      <div class="item">
        <% if @exists_prev %>
          <%= link_to "<", @link_prev %>
        <% end %>
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
      <div class="item">
        <% if @exists_next %>
          <%= link_to ">", @link_next %>
        <% end %>
      </div>
      <div class="item">
      </div>
    </div>
  </div>
  <div class="comics">
    <% @panels.each do |panel| %>
      <%= image_tag panel, class: "panel" %>
    <%end %>
  </div>
</div>
