<center> <!-- I'LL PUT CSS HERE BE PATIENT -->
  <h1>Uncanny Forest</h1>
  Wow this site is not done yet!
  <br />
  Each panel image is around 1 MB, sorry for the large size, I'm working on it!
  <br />
  <% if @exists_prev %>
    <%= link_to "Previous", @link_prev %>
  <% end %>
  <% if @exists_next %>
    <%= link_to "Next", @link_next %>
  <% end %>
  <br />
  <% @panels.each do |panel| %>
    <%= image_tag panel %>
  <%end %>
</center>
