<div class="forest-boundary">
  <div class="ugly">
    <h1>Uncanny Forest</h1>
    Wow this site is not done yet!
    <br />
    <% if @exists_prev %>
      <%= link_to "Previous", @link_prev %>
    <% end %>
    <% if @exists_next %>
      <%= link_to "Next", @link_next %>
    <% end %>
  </div>
  <div class="comics">
    <% @panels.each do |panel| %>
      <%= image_tag panel, class: "panel" %>
    <%end %>
  </div>
</div>
