<%= render "compass" %>
<div class="comics">
  <div class="mobile">
    <% @panels.each do |panel| %>
      <div class="panel-div">
        <%= image_tag panel, class: "panel" %>
      </div>
    <%end %>
  </div>
  <div class="desktop">
    <%= image_tag @image, class: "desktop" %>
  </div>
</div>
<%= render "compass" %>
