/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #14142c;
   margin-top: 12px;
   margin-bottom: 12px;
   font-family: serif;
   color: #14142c
 }

 .forest-boundary {
   background-color: #ffffff;
   margin-left: auto;
   margin-right: auto;
 }

 .typed {
   padding: 1px;
 }

 h1 {
   text-align: center;
   font-size: 40pt;
   font-weight: normal;
   letter-spacing: 12pt;
 }

 .map {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   font-size: 16pt;
   word-spacing: 54pt;
   letter-spacing: 3pt;
   text-align: center;
   padding-bottom: 12px;
 }

 .clearing {
   padding: 30px;
 }

 @media (max-device-width: 599px),(max-width: 599px) and (orientation: portrait) {
   .forest-boundary {
     box-sizing: border-box;
     width: 100%;
   }
 }

 @media (min-device-width: 600px) and (min-width: 600px) {
   .forest-boundary {
     box-sizing: border-box;
     max-width: 967px;
   }
 }
