// PALETTE
// ffffff // comics background
// e0e0a0 // highlight
// 60a080 // highlight
// 14142c // site background
// 000000 // drawings only

body {
  background-color: #14142c;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: serif;
  color: #14142c
}

.forest-boundary {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.typed {
  padding: 1px;
}

h1 {
  text-align: center;
  font-size: 48pt;
  font-weight: normal;
  letter-spacing: 15pt;
}

.compass {
  font-size: 72pt;
  word-spacing: 1.4em;
  padding: 0 0.7em;
  font-weight: bold;
}

a {
  color: #14142c;
  text-decoration: none;
}

// Added because the below doesn't work
@media (max-device-width: 749px),(max-width: 749px) {
  img.panel {
    width: 100%;
    height: auto;
  }
}

@media (max-device-width: 749px),(max-width: 749px) and (orientation: portrait) {
  .forest-boundary {
    box-sizing: border-box;
    width: 100%;
  }
  // Why doesn't this work?
  img.panel {
    width: 100%;
    height: auto;
  }
}

// @media handheld,screen and (max-device-width: 749px) and (orientation: landscape) {
//   .forest-boundary {
//     box-sizing: border-box;
//     height: 100%;
//   }
// }

// I want this to scale down
@media (min-device-width: 750px) and (min-width: 750px) {
  .forest-boundary {
    box-sizing: border-box;
    min-width: 1205px;
    max-width: 1205px;
  }
  .comics {
    zoom: 50%;
    padding: 75px;
  }
}
