// PALETTE
// ffffff // comics background
// e0e0a0 // highlight
// 60a080 // highlight
// 14142c // site background
// 000000 // drawings only

.compass {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 54pt;
  word-spacing: 1.4sem;
  padding: 0 0.7em;
  font-weight: bold;
}

.item {
  text-align: center;
}

a.comic-nav {
  color: #14142c;
  text-decoration: none;
}

a.em {
  font-weight: bold;
}

@media (max-device-width: 599px),(max-width: 599px) and (orientation: portrait) {
  img.panel {
    width: 100%;
    height: auto;
  }
  .desktop {
    display: none;
  }
}

// I want this to scale down
@media (min-device-width: 600px) and (min-width: 600px) {
  .comics {
    padding: 15px;
  }
	.desktop {
		width: 100%
	}
  .mobile {
    display: none;
  }
}
