<div class="clearing">
  <table>
    <% (UF_RECORD.num_comics - 1).downto(0).each do |i| %>
      <% comic = UF_RECORD.comics_with_spoilers[i] %>
      <tr>
        <td class="index"><%= i %></td>
        <td class="also"><%= comic[:date].strftime('%Y %^b %-d') %></td>
        <td><%= link_to comic[:title], "/#{i}", class: "em" %></td>
      </tr>
    <%end %>
  </table>
</div>
