<!DOCTYPE html>
<html>
  <head>
    <title><%= @title or 'Uncanny Forest' %></title>
    <%= stylesheet_link_tag 'plain', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
